*{
    margin: 0;
    padding: 0;
}
:root{
    --color: rgb(65, 154, 209);
    --seccolor: rgb(59, 100, 28);
    --depoad: 30px;
    --defop:0.4;

}
.nav{
    background-color:var(--color);
}
ul{
    display: flex;
}
ul li{
    opacity: var(--defop);
    list-style: none;
    padding: var(--defpad);
    border: 2px solid var(--seccolor);
}

ul li:first-child{
    --color: rgb(243, 87, 8);
    background-color: var(--color, blue);
}

.container{
    background-color: var(--seccolor);
}