p{
    background-color: rgb(96, 191, 232);
}
a {
    background-color: blanchedalmond;
}
div {
    background-color: rgb(98, 209, 131);
}
span{
    background-color: rgb(146, 88, 88);
}
a{
    background-color: chartreuse;
}